<% name ||= 'Crear' %>
<h1><%= name %> Artículo</h1>
<%= form_for(@article) do |f| %>

	<% @article.errors.full_messages.each do |message| %>
		<div class="alert alert-danger" role="alert">
			<p class="form-control-feedback"><%=message%></p> 
		</div>
	<%end%>
	<div class="form-group">
		<label for="article_title">Título</label>
			<%= f.text_field :title, placeholder: 'Ingrese el título del articulo', class: 'form-control' %>
	</div>
	<div class="form-group">
		<label for="article_body">Texto</label>
			<%= f.text_area :body, placeholder: 'Escribe aquí el artículo', class: 'form-control', rows: '5' %>
	</div>
	<%= f.submit 'Guardar', class: 'btn btn-primary' %>
<%end%>