<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-4 offset-md-4">
<h1 style="color:<%= @category.color %>;">
  <%= @category.name %>
</h1>
</div>
</div>

<p>
	<% @category.articles.each do |article| %>
		<h3> <%= link_to article.title, article %> </h3>
		<p><%= article.body %> -<%= link_to 'Eliminar', article, method: :delete, class: "alert-link" %></p>
	<%end%>
</p>

<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
