<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    	body { padding-top: 70px;
    			font-family: 'Roboto Condensed', sans-serif;
    		 }
    </style>
  </head>

  <body>
    <%= render 'partials/navigation' %>
    <main>
      <div class="container">
        <%= yield %>
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </div>
    </main>
  </body>
</html>
